
<!-- <nav class="flex items-center justify-between flex-wrap p-6 " style="background-color: #01b388;"> -->
  
<nav
  class="fixed w-full flex items-center justify-between flex-wrap p-6 z-20 top-0"
  style="background-color: #01b388">

  <div class="flex items-center flex-shrink-0 text-white mr-6">
    <img
      id="logo"
      src="../../assets/images/logooo.PNG"
      class="fill-current h-8 w-8 mr-2"
      width="60"
      height="60"
      viewBox="0 0 60 60"
    />
    <span class="font-semibold text-xl tracking-tight">NETPLANT-ARBORETUM</span>
  </div>
  <div class="block lg:hidden">
    <button
      class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white"
    >
      <svg
        class="fill-current h-3 w-3"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <title>Menu</title>
        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
      </svg>
    </button>
  </div>
  <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
    <div class="text-sm lg:flex-grow" style="position: absolute; left: 50%">
      <a
        [routerLink]="['/categories']"
        class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4"
        style="font-size: 18px"
      >
        familles
      </a>
      <a
        [routerLink]="['/orders']"
        class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4"
        style="margin-left: 35px; font-size: 18px"
      >
        Ordres
      </a>
      <a
        [routerLink]="['/categories']"
        class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white"
        style="margin-left: 35px; font-size: 18px"
      >
        Categories
      </a>
    </div>
    <div style="position: absolute; left: 92%">
      <a href="#">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-10 w-10"
          fill="none"
          viewBox="0 0 24 24"
          stroke="white"
          stroke-width="1">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z "
          /></svg></a>
    </div>
  </div>
</nav>
