<app-header></app-header>
<div class="fixed flex justify-center w-full bg-white pt-8 top-20 right-0 z-10">
  <input
    type="text"
    class="h-14 w-1/2 pr-8 pl-5 rounded border-[#01B388] border focus:shadow focus:outline-none m-0"
    placeholder="Search anything..."
  />
  <div class="relative right-10 top-4 w-6 h-6 hover:text-gray-500">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
      <path
        fill="#9ca3af"
        d="M500.3 443.7l-119.7-119.7c27.22-40.41 40.65-90.9 33.46-144.7C401.8 87.79 326.8 13.32 235.2 1.723C99.01-15.51-15.51 99.01 1.724 235.2c11.6 91.64 86.08 166.7 177.6 178.9c53.8 7.189 104.3-6.236 144.7-33.46l119.7 119.7c15.62 15.62 40.95 15.62 56.57 0C515.9 484.7 515.9 459.3 500.3 443.7zM79.1 208c0-70.58 57.42-128 128-128s128 57.42 128 128c0 70.58-57.42 128-128 128S79.1 278.6 79.1 208z"
      />
    </svg>
  </div>
</div>
<div class="flex justify-center w-full mt-48">
  <table class="w-140 text-center">
    <thead class="text-3xl p-10 z-10 bg-[#01B388]">
      <th class="text-white w-40 py-3">id</th>
      <th class="text-white w-40 py-3">name</th>
      <th class="text-white w-60 py-3">actions</th>
    </thead>
    <div class="h-3"></div>
    <tr>
      <td class="z-0 py-1">1</td>
      <td class="z-0 py-1">olivier</td>
      <td class="z-0 py-1">
        <div class="float-right">
          <button
            (click)="edit()"
            class="bg-[#01B388] text-white font-normal py-2 px-3 rounded-full mr-5"
          >
            modifier
          </button>
          <button
            class="bg-[#01B388] text-white font-normal py-2 px-3 rounded-full"
          >
            supprimer
          </button>
        </div>
      </td>
    </tr>
    
    <tr>
      <td class="z-0 py-1">1</td>
      <td class="z-0 py-1">olivier</td>
      <td class="z-0 py-1">
        <div class="float-right">
          <button
            (click)="edit()"
            class="bg-[#01B388] text-white font-normal py-2 px-3 rounded-full mr-5"
          >
            modifier
          </button>
          <button
            class="bg-[#01B388] text-white font-normal py-2 px-3 rounded-full"
          >
            supprimer
          </button>
        </div>
      </td>
    </tr>
    
    <tr>
      <td class="z-0 py-1">1</td>
      <td class="z-0 py-1">olivier</td>
      <td class="z-0 py-1">
        <div class="float-right">
          <button
            (click)="edit()"
            class="bg-[#01B388] text-white font-normal py-2 px-3 rounded-full mr-5"
          >
            modifier
          </button>
          <button
            class="bg-[#01B388] text-white font-normal py-2 px-3 rounded-full"
          >
            supprimer
          </button>
        </div>
      </td>
    </tr>
    
    <tr>
      <td class="z-0 py-1">1</td>
      <td class="z-0 py-1">olivier</td>
      <td class="z-0 py-1">
        <div class="float-right">
          <button
            (click)="edit()"
            class="bg-[#01B388] text-white font-normal py-2 px-3 rounded-full mr-5"
          >
            modifier
          </button>
          <button
            class="bg-[#01B388] text-white font-normal py-2 px-3 rounded-full"
          >
            supprimer
          </button>
        </div>
      </td>
    </tr>
    
    <tr>
      <td class="z-0 py-1">1</td>
      <td class="z-0 py-1">olivier</td>
      <td class="z-0 py-1">
        <div class="float-right">
          <button
            (click)="edit()"
            class="bg-[#01B388] text-white font-normal py-2 px-3 rounded-full mr-5"
          >
            modifier
          </button>
          <button
            class="bg-[#01B388] text-white font-normal py-2 px-3 rounded-full"
          >
            supprimer
          </button>
        </div>
      </td>
    </tr>
    
    <tr>
      <td class="z-0 py-1">1</td>
      <td class="z-0 py-1">olivier</td>
      <td class="z-0 py-1">
        <div class="float-right">
          <button
            (click)="edit()"
            class="bg-[#01B388] text-white font-normal py-2 px-3 rounded-full mr-5"
          >
            modifier
          </button>
          <button
            class="bg-[#01B388] text-white font-normal py-2 px-3 rounded-full"
          >
            supprimer
          </button>
        </div>
      </td>
    </tr>
    
    <tr>
      <td class="z-0 py-1">1</td>
      <td class="z-0 py-1">olivier</td>
      <td class="z-0 py-1">
        <div class="float-right">
          <button
            (click)="edit()"
            class="bg-[#01B388] text-white font-normal py-2 px-3 rounded-full mr-5"
          >
            modifier
          </button>
          <button
            class="bg-[#01B388] text-white font-normal py-2 px-3 rounded-full"
          >
            supprimer
          </button>
        </div>
      </td>
    </tr>
    
    <tr>
      <td class="z-0 py-1">1</td>
      <td class="z-0 py-1">olivier</td>
      <td class="z-0 py-1">
        <div class="float-right">
          <button
            (click)="edit()"
            class="bg-[#01B388] text-white font-normal py-2 px-3 rounded-full mr-5"
          >
            modifier
          </button>
          <button
            class="bg-[#01B388] text-white font-normal py-2 px-3 rounded-full"
          >
            supprimer
          </button>
        </div>
      </td>
    </tr>
    
    <tr>
      <td class="z-0 py-1">1</td>
      <td class="z-0 py-1">olivier</td>
      <td class="z-0 py-1">
        <div class="float-right">
          <button
            (click)="edit()"
            class="bg-[#01B388] text-white font-normal py-2 px-3 rounded-full mr-5"
          >
            modifier
          </button>
          <button
            class="bg-[#01B388] text-white font-normal py-2 px-3 rounded-full"
          >
            supprimer
          </button>
        </div>
      </td>
    </tr>
    
    <tr>
      <td class="z-0 py-1">1</td>
      <td class="z-0 py-1">olivier</td>
      <td class="z-0 py-1">
        <div class="float-right">
          <button
            (click)="edit()"
            class="bg-[#01B388] text-white font-normal py-2 px-3 rounded-full mr-5"
          >
            modifier
          </button>
          <button
            class="bg-[#01B388] text-white font-normal py-2 px-3 rounded-full"
          >
            supprimer
          </button>
        </div>
      </td>
    </tr>
    
    <tr>
      <td class="z-0 py-1">1</td>
      <td class="z-0 py-1">olivier</td>
      <td class="z-0 py-1">
        <div class="float-right">
          <button
            (click)="edit()"
            class="bg-[#01B388] text-white font-normal py-2 px-3 rounded-full mr-5"
          >
            modifier
          </button>
          <button
            class="bg-[#01B388] text-white font-normal py-2 px-3 rounded-full"
          >
            supprimer
          </button>
        </div>
      </td>
    </tr>
    
    <tr>
      <td class="z-0 py-1">1</td>
      <td class="z-0 py-1">olivier</td>
      <td class="z-0 py-1">
        <div class="float-right">
          <button
            (click)="edit()"
            class="bg-[#01B388] text-white font-normal py-2 px-3 rounded-full mr-5"
          >
            modifier
          </button>
          <button
            class="bg-[#01B388] text-white font-normal py-2 px-3 rounded-full"
          >
            supprimer
          </button>
        </div>
      </td>
    </tr>
    
  </table>
</div>
<div
  (click)="add()"
  class="bg-[#01B388] text-white fixed bottom-5 right-5 rounded-full w-14 h-14 flex items-center justify-center cursor-pointer"
>
  <div class="w-1/2 h-1/2">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
      <path
        fill="#FFFFFF"
        d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"
      />
    </svg>
  </div>
</div>
