<app-header></app-header>

<div class="md:container  md:w-760 my-20 px-10 pb-8 pt-6 container">

    <mat-card>
        <mat-card-title class="text-primaryColor text-center font-bold text-xl">Ajouter une plante</mat-card-title>
        <mat-card-content>

            <form [formGroup]="form">

                <div class="md:flex sm:flex flex-wrap">
                    <mat-form-field appearance="outline" class="flex-1 pr-4" >
                        <mat-label>Nom Scientifique</mat-label>
                        <input matInput formControlName="nomScientifique" #nomScientifique type="text" name="nomScientifique" maxlength="200">
                        <mat-hint align="end">{{nomScientifique.value.length || 0}} /200 </mat-hint>
                        <mat-error *ngIf="this.form.controls['nomScientifique'].hasError('required') "> Ce champ est obligatoire !</mat-error>
                        <mat-error *ngIf="this.form.controls['nomScientifique'].hasError('pattern') "> Veuillez saisir un nom valide !</mat-error>
                    </mat-form-field> 
            
                    <mat-form-field appearance="outline" class="flex-1 ">
                        <mat-label>Nom Commun</mat-label>
                        <input matInput formControlName="nomCommun" #nomCommun type="text" name="nomCommun" maxlength="200">
                        <mat-hint align="end">{{nomCommun.value.length || 0}} /200 </mat-hint>
                        <mat-error *ngIf="this.form.controls['nomCommun'].hasError('required') "> Ce champ est obligatoire !</mat-error>
                        <mat-error *ngIf="this.form.controls['nomCommun'].hasError('pattern') "> Veuillez saisir un nom valide !</mat-error>
                    </mat-form-field>
                </div>
            
                <div class="flex">
                    <mat-form-field appearance="outline" class="flex-1">
                        <mat-label>Origine</mat-label>
                        <input matInput formControlName="origine" type="text">
                        <mat-error *ngIf="this.form.controls['origine'].hasError('required') "> Ce champ est obligatoire !</mat-error>
                    </mat-form-field>
                </div>
            
                <div class="md:flex sm:flex flex-wrap">
                    <mat-form-field appearance="outline" class="flex-1 pr-4"> 
                        <mat-label>Famile</mat-label>
                        <mat-select formControlName="famille">
                            <mat-option *ngFor="let famille of familleList" [value]="famille.nomFamille">
                                 {{famille.nomFamille}}
                            </mat-option>
                          </mat-select>
                          <mat-error *ngIf="this.form.controls['famille'].hasError('required') "> Ce champ est obligatoire !</mat-error>
                    </mat-form-field>
            
                    <mat-form-field appearance="outline" class="flex-1" color="primary">
                        <mat-label>Ordre </mat-label>
                        <mat-select formControlName="ordre">
                            <mat-option  *ngFor="let item of ordreList" [value]="item.nomOrdre">
                                {{item.nomOrdre}}
                            </mat-option>
                          </mat-select>
                          <mat-error *ngIf="this.form.controls['ordre'].hasError('required') "> Ce champ est obligatoire !</mat-error>
                    </mat-form-field>
            
                </div>
            
                <div class="flex">
                    <mat-form-field appearance="outline" class="flex-1">
                        <mat-label>Exigence </mat-label>
                        <input matInput formControlName="exigences">
                        <mat-error *ngIf="this.form.controls['exigences'].hasError('required') "> Ce champ est obligatoire !</mat-error>
                    </mat-form-field>
                </div>
            
                <div class="md:flex sm:flex flex-wrap">
                    <mat-form-field appearance="outline" class="flex-1 pr-4" >
                        <mat-label>Port</mat-label>
                        <input matInput formControlName="port">
                        <mat-error *ngIf="this.form.controls['port'].hasError('required') "> Ce champ est obligatoire !</mat-error>
                    </mat-form-field>
            
                    <mat-form-field appearance="outline" class="flex-1 ">
                        <mat-label>Hauteur</mat-label>
                        <input matInput formControlName="hauteur">
                        <mat-error *ngIf="this.form.controls['hauteur'].hasError('required') "> Ce champ est obligatoire !</mat-error>
                    </mat-form-field>
                </div>
            
            
                <div class="md:flex sm:flex flex-wrap">
                  
                    <mat-form-field appearance="outline" class="flex-1 pr-4"> 
                        <mat-label>Categorie</mat-label>
                        <mat-select class="rounded-2xl" formControlName="categorie">
                            <mat-option *ngFor="let item of categorieList"  [value]="item.nomCategorie" >
                                {{item.nomCategorie}}
                            </mat-option>
                          </mat-select>
                          <mat-error *ngIf="this.form.controls['categorie'].hasError('required') "> Ce champ est obligatoire !</mat-error>
                    </mat-form-field>
                
                    <mat-form-field appearance="outline" class="flex-1 ">
                        <mat-label>Feuillage</mat-label>
                        <!-- <input matInput formControlName="feuillage"> -->
                        <textarea matInput formControlName="feuillage"></textarea>
                        <mat-error *ngIf="this.form.controls['feuillage'].hasError('required') "> Ce champ est obligatoire !</mat-error>
                    </mat-form-field>
                </div>
                
                <div class="flex">
                    <mat-form-field appearance="outline" class="flex-1">
                        <mat-label>Fleurs</mat-label>
                        <!-- <input matInput formControlName="fleurs"> -->
                        <textarea matInput formControlName="fleurs"></textarea>
                        <mat-error *ngIf="this.form.controls['fleurs'].hasError('required') "> Ce champ est obligatoire !</mat-error>
                    </mat-form-field>
                </div>
             
                <div class="flex">
                    <mat-form-field appearance="outline" class="flex-1">
                        <mat-label>Fruits</mat-label>
                        <!-- <input matInput formControlName="fruits"> -->
                        <textarea matInput formControlName="fruits"></textarea>
                        <mat-error *ngIf="this.form.controls['fruits'].hasError('required') "> Ce champ est obligatoire !</mat-error>
                    </mat-form-field>
                </div>
        
                <div class="md:flex sm:flex flex-wrap">
        
                    <mat-form-field appearance="outline" class="flex-1 pr-4"> 
                        <mat-label>Type</mat-label>
                        <mat-select class="rounded-2xl" formControlName="type">
                            <mat-option *ngFor="let item of typeList"  [value]="item.nomType" >
                                {{item.nomType}}
                            </mat-option>
                          </mat-select>
                          <mat-error *ngIf="this.form.controls['type'].hasError('required') "> Ce champ est obligatoire !</mat-error>
                    </mat-form-field>
        
                    <!-- <mat-form-field appearance="outline" class="flex-1 pr-4" >
                        <mat-label>Type</mat-label>
                        <input matInput formControlName="type">
                    </mat-form-field> -->
            
                    <mat-form-field appearance="outline" class="flex-1 ">
                        <mat-label>Nombre de sujet</mat-label>
                        <input matInput formControlName="nombreSujet">
                        <mat-error *ngIf="this.form.controls['nombreSujet'].hasError('pattern') "> Veuillez saisir des chiffres!</mat-error>
                    </mat-form-field>
                </div>
            
            
                <div class="flex">
                    <mat-form-field appearance="outline" class="flex-1">
                        <mat-label>Multiplication</mat-label>
                        <!-- <input matInput formControlName="multiplication"> -->
                        <textarea matInput formControlName="multiplication"></textarea>
                        <mat-error *ngIf="this.form.controls['multiplication'].hasError('required') "> Ce champ est obligatoire !</mat-error>
                    </mat-form-field>
                </div>
            
                <div class="flex">
                    <mat-form-field appearance="outline" class="flex-1">
                        <mat-label>Utilisation</mat-label>
                        <!-- <input matInput formControlName="utilisations" > -->
                        <textarea matInput formControlName="utilisations"></textarea>
                        <mat-error *ngIf="this.form.controls['utilisations'].hasError('required') "> Ce champ est obligatoire !</mat-error>
                    </mat-form-field>
                </div>
            
                <div class="flex">
                    <mat-form-field appearance="outline" class="flex-1">
                        <mat-label>Soins</mat-label>
                        <!-- <input matInput formControlName="soins"> -->
                        <textarea matInput formControlName="soins"></textarea>
                        <mat-error *ngIf="this.form.controls['soins'].hasError('required') "> Ce champ est obligatoire !</mat-error>
                    </mat-form-field>
                </div>
        
                

                <mat-card-actions>
                    <div class="lg:flex-col lg:items-center lg:justify-around md:flex sm:flex-col md:items-center md:justify-around  md:mx-4 sm:mx-4  flex-wrap">
                        <div class="md:flex-1 lg:flex-1 my-4  ">
                            
                            <input type="file" id="planteFile" accept="image/*"  style="display: none;" (change)="uploadImagePlante($event)"/>
                            <label [matBadge]="planteFileNumber" matBadgeColor="warn" for="planteFile" class="block bg-primaryColor rounded text-white text-center text-sm w-auto md:w-auto md:px-16 md:text-xl mr-5  pt-1 pb-2 pr-2 font-bold">
                                Importer l'image de la plante
                                <mat-icon class="mr-2"><svg class="pl-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                      <!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                                      <path d="M105.4 182.6c12.5 12.49 32.76 12.5 45.25 .001L224 109.3V352c0 17.67 14.33 32 32 32c17.67 0 32-14.33 32-32V109.3l73.38 73.38c12.49 12.49 32.75 12.49 45.25-.001c12.49-12.49 12.49-32.75 0-45.25l-128-128C272.4 3.125 264.2 0 256 0S239.6 3.125 233.4 9.375L105.4 137.4C92.88 149.9 92.88 170.1 105.4 182.6zM480 352h-160c0 35.35-28.65 64-64 64s-64-28.65-64-64H32c-17.67 0-32 14.33-32 32v96c0 17.67 14.33 32 32 32h448c17.67 0 32-14.33 32-32v-96C512 366.3 497.7 352 480 352zM432 456c-13.2 0-24-10.8-24-24c0-13.2 10.8-24 24-24s24 10.8 24 24C456 445.2 445.2 456 432 456z"/></svg>
                                </mat-icon>
                            </label>
                        </div>
            
                        <div class="md:flex-1 lg:flex-1  my-4">
                            
                            <input type="file" id="fleurFile" accept="image/*"  style="display: none;" (change)="uploadImageFleur($event)"/>
                            <label [matBadge]="fleurFileNumber" matBadgeColor="warn" for="fleurFile" class="block bg-primaryColor rounded text-white text-center text-sm w-auto md:px-7 md:pr-8 md:text-xl mr-5 pt-1 pb-2 font-bold">
                                Importer l'image de fleur de la plante
                                <mat-icon><svg class="pl-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                      <!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                                      <path d="M105.4 182.6c12.5 12.49 32.76 12.5 45.25 .001L224 109.3V352c0 17.67 14.33 32 32 32c17.67 0 32-14.33 32-32V109.3l73.38 73.38c12.49 12.49 32.75 12.49 45.25-.001c12.49-12.49 12.49-32.75 0-45.25l-128-128C272.4 3.125 264.2 0 256 0S239.6 3.125 233.4 9.375L105.4 137.4C92.88 149.9 92.88 170.1 105.4 182.6zM480 352h-160c0 35.35-28.65 64-64 64s-64-28.65-64-64H32c-17.67 0-32 14.33-32 32v96c0 17.67 14.33 32 32 32h448c17.67 0 32-14.33 32-32v-96C512 366.3 497.7 352 480 352zM432 456c-13.2 0-24-10.8-24-24c0-13.2 10.8-24 24-24s24 10.8 24 24C456 445.2 445.2 456 432 456z"/></svg>
                                </mat-icon>
                            </label>
                        </div>
            
                        <div class="md:flex-1 lg lg:flex-1 my-4">
                            
                            <input type="file" id="feuilleFile" accept="image/*"  style="display: none;" (change)="uploadImageFeuille($event)"/>
                            <label [matBadge]="feuilleFileNumber" matBadgeColor="warn" for="feuilleFile" class="block bg-primaryColor rounded text-white text-center text-sm w-auto md:px-7 md:pr-2 md:text-xl mr-3 pt-1 pb-2 font-bold">
                                Importer l'image de feuille de la plante
                                <mat-icon class="mr-2"><svg class="pl-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                      <!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                                      <path d="M105.4 182.6c12.5 12.49 32.76 12.5 45.25 .001L224 109.3V352c0 17.67 14.33 32 32 32c17.67 0 32-14.33 32-32V109.3l73.38 73.38c12.49 12.49 32.75 12.49 45.25-.001c12.49-12.49 12.49-32.75 0-45.25l-128-128C272.4 3.125 264.2 0 256 0S239.6 3.125 233.4 9.375L105.4 137.4C92.88 149.9 92.88 170.1 105.4 182.6zM480 352h-160c0 35.35-28.65 64-64 64s-64-28.65-64-64H32c-17.67 0-32 14.33-32 32v96c0 17.67 14.33 32 32 32h448c17.67 0 32-14.33 32-32v-96C512 366.3 497.7 352 480 352zM432 456c-13.2 0-24-10.8-24-24c0-13.2 10.8-24 24-24s24 10.8 24 24C456 445.2 445.2 456 432 456z"/></svg>
                                </mat-icon>
                            </label>
                        </div>
            
                        <div class="md:flex-1 lg:flex-1 my-4">
                            
                            <input type="file" id="fruitFile" accept="image/*"  style="display: none;" (change)="uploadImageFruit($event)"/>
                            <label [matBadge]="fruitFileNumber" matBadgeColor="warn" for="fruitFile" class="block bg-primaryColor rounded text-white text-center text-sm w-auto md:px-7  md:text-xl mr-5 pt-1 pb-2 font-bold ">
                                Importer l'image de fruit de la plante
                                <mat-icon><svg class="pl-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                      <!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                                      <path d="M105.4 182.6c12.5 12.49 32.76 12.5 45.25 .001L224 109.3V352c0 17.67 14.33 32 32 32c17.67 0 32-14.33 32-32V109.3l73.38 73.38c12.49 12.49 32.75 12.49 45.25-.001c12.49-12.49 12.49-32.75 0-45.25l-128-128C272.4 3.125 264.2 0 256 0S239.6 3.125 233.4 9.375L105.4 137.4C92.88 149.9 92.88 170.1 105.4 182.6zM480 352h-160c0 35.35-28.65 64-64 64s-64-28.65-64-64H32c-17.67 0-32 14.33-32 32v96c0 17.67 14.33 32 32 32h448c17.67 0 32-14.33 32-32v-96C512 366.3 497.7 352 480 352zM432 456c-13.2 0-24-10.8-24-24c0-13.2 10.8-24 24-24s24 10.8 24 24C456 445.2 445.2 456 432 456z"/></svg>
                                </mat-icon>
                            </label>
                        </div>
    
                       
            
                    </div>
                </mat-card-actions>

                <div class="flex items-center justify-around mt-5">
                    <button  [disabled]="!form.valid" mat-raised-button color="warn" (click)="submit(form)" class="md:w-64 sm:w-64 w-64 font-bold">Ajouter plante</button>  
                </div>
            </form>
            
        </mat-card-content>
      </mat-card>

</div>

       