<div class="center">
      <img src="../../assets/images/log1-removebg-preview.png" style="width: 250px; margin-left: 100px;"/>
      <form method="post">
        <div class="txt_field">
          <input type="text" required>
          <span></span>
          <label>Full Name</label>
        </div>
        <div class="txt_field">
          <input type="password" required>
          <span></span>
          <label>Email</label>
        </div>
        <div class="txt_field">
          <input type="text" required>
          <span></span>
          <label>Phone</label>
        </div>
        <div class="txt_field">
          <input type="text" required>
          <span></span>
          <label>Confirm Password</label>
        </div>
        <input [routerLink]="['/edit']" type="submit" value="Sign Up">
      
      </form>
</div>



