<div class="center">
      <img src="../../assets/images/log1-removebg-preview.png" style="width: 250px; margin-left: 100px;"/>

        <form [formGroup]="form" (submit)="signUp(form)" > 

          <div class="txt_field">
            <input type="text" name="fullName" formControlName="fullName" #fullName required>
            <span></span>
            <label>Full Name</label>
          </div>

          <div class="txt_field">
            <input type="email" name="email" formControlName="email" #email required>
            <span></span>
            <label>Email</label>
          </div>

          <div class="txt_field">
            <input type="tel" name="phone" formControlName="phone" #phone required>
            <span></span>
            <label>Phone</label>
          </div>

          <div class="txt_field">
            <input type="password" name="password" formControlName="password" #password required>
            <span></span>
            <label>Password</label>
          </div>

          <input type="submit" value="Sign Up"> 
        </form>
</div>

